    * {
        font-family: 'Montserrat', sans-serif;
        color: #09015F;
    }
    
    h2 {
        font-size: 2.3em;
        background-color: #447791;
        border-radius: 30px;
        width: 82%;
    }
    
    #menu {
        font-size: 0.52em;
        background-color: #447791;
        display: flex;
        justify-content: space-between;
    }
    
    body {
        background-color: #FFF2E8;
    }
    
    .logo {
        width: 10%;
    }
    
    .home {
        font-size: 2em;
        display: inline;
    }
    
    .navBar {
        width: 30%;
        margin-right: 10%;
        display: flex;
        align-items: center;
    }
    
    .navBar2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .sectionSobre {
        display: flex;
        justify-content: space-around;
        justify-content: left;
        flex-direction: column;
    }
    
    .imagens {
        width: 20%;
    }
    
    .form {
        display: flex;
        justify-content: center;
        justify-content: left;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    input {
        margin-bottom: 2%;
    }
    
    .textoImagens {
        display: ;
    }
    
    #textosdapag {
        width: 50%;
        font-size: 100%;
    }
    
    #sobre {
        display: flex;
        width: 20%
    }
    
    #formulario {
        width: auto;
    }
    
    #preReg {
        position: relative;
        left: 0;
        width: 20%;
    }
    
    #oformula {
        font-size: 150%;
    }
    
    .inputs {
        border-radius: 30px;
        background-color: #447791;
    }
